<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="./styles.css">
  <title>File Finder</title>
</head>
<body>
  <p>
    <input type="button" value="Reload the app after changing the code" onclick="window.location.reload()">
  </p>
  <div id="app">
    <header>
        <p>{{location}}</p>
        <button @click="up">Go up</button>
    </header>
    <div id="list">
        <listing v-for="file in files" v-bind:key="file.id" v-bind:item="file"></listing>
    </div>
    <div id="viewer">
        <p><img v-bind:src="image" alt=""></p>
        <app-line v-for="line in lines" v-bind:line="line"></app-line>
    </div>
  </div>
  <script src="https://unpkg.com/vue"></script>
  <script>require('./renderer.js');</script>
</body>
</html>