body, html {
  margin: 0;
  padding: 0;
}

#app {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: flex-start;
}

#app header {
  background: #d9def1;
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  width: 100%;
}

#app header button {
  background: #4b6ff3;
  border: none;
  border-radius: 1000px;
  color: #ffffff;
  font-size: 16px;
  height: 40px;
  width: 150px;
  cursor: pointer;
}

#app header button:focus {
  outline: none;
}

#app header p {
  color : #31417d;
  line-height: 40px;
  margin: 0;
  padding: 0;
}

#app #list {
  padding: 50px 40px 0;
  width: 100%;
  max-width: 40%;
}

#app .list-item {
  border-bottom: 1px solid #cecece;
  display: block;
  padding: 5px;
  width: 100%;
  cursor: pointer;
}

#app .list-item:hover {
  background: rgb(238, 238, 238);
}

#app #viewer {
  max-width: 50%;
  padding: 20px;
}

#app #viewer p{
  white-space: normal;
}